*.class
*.log

.DS_Store

/.idea/
/.bsp/
.metals
.bloop
target
/modules/*/target/
/target/
/project/target/
/project/project/target
/src/main/scala/project/
/src/main/scala/target/

.vscode/
project/metals.sbt